extends ../layouts/layout

block content
  h1 Listing users

  table
    thead
      tr
        each n in ['username','password']
          th #{n}
        th(colspan="3")
    tbody
      each user in users
        tr
          each n in ['user.username','user.password']
            td #{ eval(n) }
          td 
            a(href=`/users/${user._id}`) Show
          td 
            a(href=`/users/${user._id}/edit`) Edit
          td 
            a(onclick=`click_del('/users/#{user._id}/')`) Delete

  br

  p 
    a(href='/users/new') New User
